{
  "folders": [
    {
      "name": "{{PROJECT_NAME}}",
      "path": "{{PROJECT_PATH}}"
    },
    {
      "name": "Foundation AddOn",
      "path": "{{FOUNDATION_PATH}}"
    }
  ],
  "settings": {
    "files.autoSave": "onFocusChange",
    "editor.formatOnSave": true,
    "terminal.integrated.defaultProfile.linux": "bash"
  }
}
